[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
[submodule "meta-openvario"]
	path = meta-openvario
	url = https://github.com/Blaubart/meta-openvario.git
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
